.container{
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container-section{
    width: 100%;
    max-width: 1358px;
    margin: 0 auto;
    padding: 0px 15px;
    
}